body{
    /* background-image: url(https://unsplash.com/photos/EZRYF6UX6QM/download?force=true&w=1920); */
    /* background-color: #fff; */
    background-size: cover;
    background-position: center;
    
    font-family: 'Raleway', ;
  
    }
    /* .st0{fill:none;stroke:currentColor;stroke-width:20;stroke-linecap:round;stroke-miterlimit:3;} */